configs.yaml
experiment/data/*
!experiment/data/.gitkeep

airflow_local/dags/*
!airflow_local/dags/.gitkeep

airflow_local/logs/*
!airflow_local/logs/.gitkeep

airflow_local/plugins/*
!airflow_local/plugins/.gitkeep

airflow_local/postgres-db-volume/*
!airflow_local/postgres-db-volume/.gitkeep


__pycache__